.navbar-container{
    background-color: #1A187A;
}
.banner-container{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.content11-11{
    background-color: #958AD4;
}

footer{
    background-color: #0E071B;
}